{
  "root": true,
  "extends": [
    "@nuxtjs",
    "@nuxtjs/eslint-config-typescript"
  ],
  "rules": {
    "eol-last": "off",
    "vue/multi-word-component-names": "off",
    "vue/singleline-html-element-content-newline": "off",
    "semi": "off",
    "space-before-function-paren": "off",
    "curly": "off",
    "no-console": "off",
    "vue/html-closing-bracket-newline": "off",
    "vue/html-self-closing": "off",
    "vue/first-attribute-linebreak": "off",
    "vue/max-attributes-per-line": "off",
    "vue/no-export-in-script-setup": "off",
  }
}